.body-bg {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-image: url('/imgs/others/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container {
    background: #454647;
    border: 1px solid #555;
    padding: 2.5rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 25px #d06d77;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #d06d77;
    margin-bottom: 1rem;
}

.subtitle {
    text-align: center;
    color: #aaa;
    margin-bottom: 2rem;
}

.info {
    text-align: center;
    font-size: .75rem;
    color: #e2e2e2;
    margin-top: 1.5rem;
}

/*formulario*/

.form {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.field {
    position: relative;
}

.label {
    display: block;
    color: #ddd;
    font-size: .9rem;
    margin-bottom: .4rem;
}

.input-wrapper {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.select {
    width: 100%;
    padding: .55rem .8rem;
    background: #555;
    color: white;
    border: 1px solid #444;
    border-radius: .5rem;
    cursor: pointer;
}

.select:hover {
    border-color: #d06d77;
    box-shadow: 0 0 0 3px #7b3940;
}

.select:focus {
    outline: none;
    border-color: #d06d77;
    box-shadow: 0 0 0 3px #7b3940;
}

/*botão*/

.help-btn {
    background: transparent;
    color: #d06d77;
    background: rgb(41, 41, 41);
    border: 1px solid #7b3940;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-weight: bold;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.help-btn:hover {
    background: #7b3940;
}

.submit-btn {
    width: 100%;
    padding: .8rem;
    background: #d06d77;
    color: white;
    font-weight: bold;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s;
}

.submit-btn:hover:not(:disabled) {
    background: #bd5f68;
    transform: scale(1.02);
}

/*tools*/

.tooltip {
    position: absolute;
    top: -100%; /* posiciona acima do formulário */
    left: 50%;  /* centraliza horizontalmente */
    transform: translateX(-50%) translateY(-1rem); /* ajusta espaçamento acima do card */
    width: 90%;       /* ocupa quase toda a largura do card */
    max-width: 600px; /* respeita o limite do card */
    padding: .8rem;
    background: #444;
    border: 1px solid #d06d77;
    border-radius: .6rem;
    box-shadow: 0 4px 15px rgba(0,0,0,.4);
    z-index: 10;
}

.tooltip img {
    width: 100%;
    height: auto;
    border-radius: .4rem;
}

.tooltip-title {
    color: #d06d77;
    font-weight: bold;
    margin-bottom: .4rem;
}


/*aviso*/
.warning {
    color: #d06d77;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
}
